.inter-font {
    font-family: "Inter", sans-serif;
  }

.inter-italic{
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 900;
    color: #E6533C;
}

.menu{
    list-style: none;
    display: flex;
    column-gap: 2rem;
    color: white;
    align-items: center;
    padding-left: 2px;
    padding-right: 20px;
    border: 1px solid white;
    border-radius: 24px;
}

.stats-item {
    text-align: center;
    font-family: Arial, sans-serif;
    height: 96px;
    width: 206px;
    background: transparent;
    border: 1px solid #E6533C;
    border-radius: 12px;
    padding: 15px;
  }
  
  .number {
    font-size: 48px;
    font-weight: bold;
    color: white;
  }
  
  .label {
    font-size: 16px;
    color: gainsboro;
    margin-top: 8px;
  }

button{
    background: #E6533C;
    padding: 10px;
    border-radius: 24px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

 nav {
            padding: 10px;
        }
        nav a {
            padding: 100px;
            display: inline-block;
            margin-right: 15px;
            text-decoration: none
        }
.gradient-header{
    background: linear-gradient(to bottom, #111111, #777777);
}

.first_main_container{
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
}

.first-img{
   
}

.first_main_paragraph{
    color: white;
    width: 40rem;
}

h1{
    font-size: 4.5rem;
    
}
p{
    font-size: 1.4rem;
}

.btn-container{
    display: flex;
    gap: 14px;
}
.btn-1{
    background: #E6533C;
    padding: 16px;
    border-radius: 1.5rem;
    height: 3rem;
    width: 15rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-2{
    background-color:transparent;
    padding: 16px;
    border-radius: 1.5rem;
    height: 3rem;
    width: 15rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;

}